@import  url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Poppins:ital,wght@0,400;1,300&family=Source+Sans+Pro:ital,wght@1,300&display=swap'); 
 
body{
    font-family: Poppins, sans-serif;
    font-weight: 300;
    color: rgb(26, 26, 26);
}

h1, h2, h3 {
    font-family: Montserrat, Sans;
    color: rgb(46, 45, 45);
    letter-spacing: 3px;
    text-transform: uppercase;
}

header {
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px 0
}

h1#logo {
    float: left;
    margin-left: 40px;
    font-size: 35px;
}
   /* For menu bar style */
#menu-bar li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
    font-size: 25px;
}

#menu-bar a {
    text-decoration: none;
    color: rgb(39, 30, 40);
    text-transform: uppercase;
}

#menu-bar a:hover{
    color: rgb(46, 27, 185);
    border-top: 3px solid  rgb(46, 27, 185);
}

.maintain-border {
    color: rgb(46, 27, 185);
    border-top: 3px solid  rgb(46, 27, 185);
}

/* For image and text next to the image (home page) */

#img-text{
    display: flex;
    flex-direction: row;
    width: 100%;
}

#jiu-jitsu-img {
    flex: 50%;
    height: 500px;
    background: url('../images/pexels-photo-6765023.webp') no-repeat center center;
}

#side-text {
  flex: 50%;
  text-align: center;
  font-size: 180%;
  padding: 0 15px;
  margin: auto;
}

/* For Screens under 800px */
@media (max-width: 800px) {
    #img-text {
      flex-direction: column;
      height: 1200px;
    }
    #side-text {
        width: fit-content;
    }
     }

    /* For the footer design */

.social-network  {
    display: flex;
    flex-direction:row;
    
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;

}

.social-network div a {
    padding: 0 40px;
    font-size: 20px;
    color: black;
}

#join {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    

}
