@import  url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Poppins:ital,wght@0,400;1,300&family=Source+Sans+Pro:ital,wght@1,300&display=swap'); 
 
body{
    font-family: Poppins, sans-serif;
    font-weight: 300;
    color: rgb(26, 26, 26);
}

h1, h2, h3 {
    font-family: Montserrat, Sans;
    color: rgb(46, 45, 45);
    letter-spacing: 3px;
    text-transform: uppercase;


}

#logo, h1 {
    float: left;
    margin-left: 40px;
    font-size: 35px;
}

#menu-bar, li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
    font-size: 20px;
}
#menu-bar, a {
    text-decoration: none;
    color: rgb(39, 30, 40);
    text-transform: uppercase;
}
#img-text{
    display: flex;
    width: 100%;
}

#jiu-jitsu-img {
    width: 50%;
    height: 500px;
    overflow: hidden;
    background: url('../images/pexels-photo-6765023.webp') no-repeat center center;
    
}
#side-text {
  float: right;
  width: 30%;
  margin: auto;
  
  text-align: center;
  font-size: 180%;
}
footer {
    height: 200px;
}
#social ul {
    
}

